{# CSS/JS needed by composable sections (include once per page). #}
{% css "local" %}
  {% include "css/custom-hero.css" %}
  {% include "css/sections/list.css" %}
  {% include "css/sections/process.css" %}
  {% include "css/sections/services.css" %}
  {% include "css/sections/tabs.css" %}
  {% include "css/faq.css" %}
  {% include "css/details.css" %}
  {% include "css/page-header.css" %}
  {% include "css/custom-card.css" %}
  {% include "css/form.css" %}
  {% include "css/gallery.css" %}
{% endcss %}

{% js "defer" %}
  {% include "scripts/details.js" %}
  {% include "scripts/tabs.js" %}
  {% include "scripts/hubspot-submission.js" %}
  {% include "scripts/dialog.js" %}
{% endjs %}
