.section-process__split {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.section-process__split > svg {
  grid-row: 1;
  grid-column: 1 / -1;
  color: var(--color-bg-accent-2);
  opacity: 0.5;
  inline-size: clamp(40ch, 50vw, 40rem);
  block-size: auto;
  margin-block-start: calc(var(--space-l) * -1);
  margin-inline-end: calc(var(--space-3xl) - 1.5ch);
  justify-self: end;
}

.section-process__timeline {
  grid-row: 1;
  grid-column: 1 / -1;
  margin-inline-start: calc(var(--space-s) * -1);
  list-style: none;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

@media screen(sm) {
  .section-process__split > svg {
    grid-column: 1 / 5;
  }

  .section-process__timeline {
    grid-column: 2 / -1;
  }
}

@media screen(md) {
  .section-process__split > svg {
    grid-column: 1 / 4;
    color: var(--color-teal);
    opacity: 1;
  }

  .section-process__timeline {
    grid-column: 4 / -1;
  }
}

.section-process__timeline li {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-inline-start: var(--space-xl);
  z-index: 1;
}

.section-process__timeline li::after {
  content: '';
  position: absolute;
  width: 0.25ch;
  background: var(--color-teal);
  inset-inline-start: var(--space-s);
  inset-block-start: calc(var(--space-s) * 2);
  inset-block-end: calc(-1 * var(--space-l));
  z-index: 0;
}

.section-process__timeline li:last-child::after {
  display: none;
}

.section-process__timeline span {
  block-size: calc(var(--space-s) * 2);
  inline-size: calc(var(--space-s) * 2);
  background: var(--color-teal);
  color: var(--color-teal-100);
  font-size: var(--size-step-2);
  font-weight: var(--font-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  inset-inline-start: 0;
}

.section-process__timeline div {
  margin-inline-start: var(--space-s);
  margin-block-start: var(--space-3xs);
}
