---
layout: base
---

<div class="region wrapper flow prose{% if h2ScrollFade %} scroll-fade-h2s{% endif %}" style="--region-space-top: var(--space-xl-2xl)">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</div>
