---
title: Buttons
permalink: /styleguide/buttons/index.html
---

<div class="styleguide-page | wrapper region flow">
  <header class="intro flow">
    <h1>{{ title }}</h1>
  </header>

  <section class="flow">
    <ul class="cluster gutter-s" role="list">
      <li>
        <a href="#" class="button">Default button</a>
      </li>
      <li>
        <a href="#" class="button" data-button-variant="teal">teal button</a>
      </li>
      <li>
        <a href="#" class="button" data-button-variant="purple">purple button</a>
      </li>
      <li>
        <a href="#" class="button" data-button-variant="navy">navy button</a>
      </li>
      <li>
        <a href="#" class="button" data-ghost-button>Ghost button</a>
      </li>
      <li>
        <a href="#" class="button" data-button-radius="hard">Hard edges</a>
      </li>
      <li>
        <a href="#" class="button"> {% svg "misc/star" %} Button with icon </a>
      </li>
      <li>
        <a href="#" class="button" data-button-text> Button with text </a>
      </li>
      <li>
        <a href="#" class="button" data-small-button> Small button </a>
      </li>
      <li>
        <a href="#" class="button" data-pill-button> Pill button </a>
      </li>
    </ul>
  </section>
</div>
