---
title: Buttons
permalink: /styleguide/buttons/index.html
---

<div class="styleguide-page | wrapper region flow">
  <header class="intro flow">
    <h1>{{ title }}</h1>
  </header>

  <section class="flow">
    <ul class="cluster gutter-s" role="list">
      <li>
        <a href="#" class="button">Default button</a>
      </li>
      <li>
        <a href="#" class="button" data-button-variant="teal"><span>teal button</span></a>
      </li>
      <li>
        <a href="#" class="button" data-button-variant="purple"><span>purple button</span></a>
      </li>
      <li>
        <a href="#" class="button" data-button-variant="navy"><span>navy button</span></a>
      </li>
      <li>
        <a href="#" class="button" data-ghost-button><span>Ghost button</span></a>
      </li>
      <li>
        <a href="#" class="button" data-button-radius="hard"><span>Hard edges</span></a>
      </li>
      <li>
        <a href="#" class="button"> {% svg "misc/star" %} <span>Button with icon</span></a>
      </li>
      <li>
        <a href="#" class="button" data-button-text><span>Button with text</span></a>
      </li>
      <li>
        <a href="#" class="button" data-small-button><span>Small button</span></a>
      </li>
      <li>
        <a href="#" class="button" data-pill-button><span>Pill button</span></a>
      </li>
    </ul>
  </section>
</div>
