---
title: About
permalink: /about/index.html
description: "With a team of experts passionate about data infrastructure and cloud-native technologies, we transform complex data challenges into scalable, actionable solutions tailored to our clients' unique needs."
layout: base
bodyClass: about
footerSpace: mt-2xl
intro: |
  At dyvenia, we believe that businesses succeed when they have unified, high-quality data that truly supports decision-making and innovation. Our mission is to help organizations overcome fragmented, unreliable data by building strong, well-integrated data foundations that drive performance.

  We bridge the gap between technology and business, ensuring that your data is structured, consistent, and ready to support analytics, AI, and digital transformation. Our team of experienced data leaders has firsthand knowledge of the challenges organizations face, and we work as an extension of your team to turn complex data environments into clear, actionable assets.

  Beyond our leadership, dyvenia is powered by a diverse group of dedicated professionals, including data engineers, analysts, DevOps specialists, and BI experts. We are driven by a commitment to excellence and innovation, ensuring that every solution we deliver not only meets technical requirements but aligns with your strategy and enables long-term success.
experts: Meet our experts
team:
  activate: false
  title: Team
  content: |
    Meet the team behind Dyvenia – a diverse group of dedicated professionals driven to deliver excellence and innovation in everything we do.
  image: ./src/assets/images/team/team.jpg
  image_alt: 'Group photo of the Dyvenia team, featuring 25 individuals standing together in a modern office setting. The team members are dressed in business casual attire, with a mix of smiles and relaxed expressions. The background features light-colored walls, abstract artwork, and a polished interior design.'
---

<div class="wrapper">
  <header class="region flow">
    <h1>{{ title }}</h1>
    <div class="flow">{{ intro | markdownFormat | safe }}</div>
  </header>
  <article class="feature flow flow-space-l">
    <h2>{{ experts }}</h2>
    {% for member in collections.team_members %}
      {% if member.data.show_on_about %}
        <div class="about__content flow grid gutter-m" data-layout="thirds">
          {% image "." + member.data.image, "" %}
          <div class="flow prose">
            <h3>{{ member.data.name }}</h3>
            {{ member.data.description_long | markdownFormat | safe }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </article>

  {% if team.activate %}
    <article class="mt-xl-2xl flow">
      <h2>Team</h2>

      {{ team.content | markdownFormat | safe }}
      {% image team.image, team.image_alt %}
    </article>
  {% endif %}
</div>

{%- css "local" -%}
  {%- include 'css/about.css' -%}
{%- endcss -%}
