---
layout: base
title: Insights
description: 'Gain expert strategies, real-world perspectives, and best practices in data engineering, analytics, and AI. Explore our latest insights to stay ahead in the ever-evolving data landscape.'
bodyClass: insights
image: ./src/assets/images/backgrounds/sfondi-dyvenia10.jpg
footerSpace: mt-2xl
pagination:
  data: collections.allPosts
  size: 6
permalink: 'insights/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
intro: >
  Gain expert strategies, real-world perspectives, and best practices in data engineering, analytics, and AI. Explore our latest insights to stay ahead in the ever-evolving data landscape.
---

  {% set blogHero = {
    title: title,
    subtitle: intro,
    image: image,
    image_alt: alt or title
  } %}
  {% set customHero = {
    hero: blogHero,
    region_space: "xl-2xl"
  } %}
  {% include "partials/custom-hero.njk" %}

<div class="wrapper flow">
  <aside class="full | section" style="--spot-color: var(--color-bg); --flow-space: 0;">
    <div class="section__inner flow wrapper pt-l-xl full">
    {% include "partials/hubspot-form.njk" %}
  </div>
  </aside>

<section class="feature mt-xl-2xl" aria-describedby="blog-section">
  <h2 id="blog-section" class="visually-hidden">Blog posts</h2>

  <custom-masonry layout="50-50">
		{% asyncEach item in pagination.items %}
			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>
</section>


  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>

{%- css "local" -%}
  {%- include "css/custom-hero.css" -%}
{%- endcss -%}
