---
title: Insights
description: Gain expert strategies, real-world perspectives, and best practices in data engineering, analytics, and AI. Explore our latest insights to stay ahead in the ever-evolving data landscape.
layout: modular
permalink: insights/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html
bodyClass: insights
footerSpace: mt-2xl
pagination:
  data: collections.allPosts
  size: 6
sections:
  - type: hero
    internal_name: Hero
    title: Insights
    subtitle: Gain expert strategies, real-world perspectives, and best practices in data engineering, analytics, and AI. Explore our latest insights to stay ahead in the ever-evolving data landscape.
    button_text: ''
    button_target: ''
    preset_image: ./src/assets/images/backgrounds/sfondi-8-high.jpg
    image: ./src/assets/images/backgrounds/sfondi-dyvenia10.jpg
    image_alt: Insights
    video: null
    appearance:
      theme: background-default
      accent: default
      align: center
      height: default
      background: teal-800
      content_block: center
      divider: divider/soft
      divider_class: ''
    region_space: xl-2xl
  - type: form
    internal_name: Newsletter
    title: ''
    appearance:
      theme: background-default
      accent: default
      align: left
      width: content
      drop_block_spacing: true
    intro: ''
---

<div class="wrapper flow">
  <section class="feature mt-xl-2xl" aria-describedby="blog-section">
    <h2 id="blog-section" class="visually-hidden">Blog posts</h2>

    <custom-masonry layout="50-50">
      {% asyncEach item in pagination.items %}
        {% include "partials/card-blog.njk" %}
      {% endeach %}
    </custom-masonry>
  </section>

  {% set collectionToPaginate = collections.posts %}
  {% set metaKey = "blog" %}
  {% if collectionToPaginate.length > pagination.size %}
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>
