---
layout: base
title: Blog
description: 'All blog posts can be found here'
bodyClass: insights
image: ./src/assets/images/backgrounds/sfondi-dyvenia10.jpg
footerSpace: mt-2xl
pagination:
  data: collections.allPosts
  size: 6
permalink: 'insights/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
intro: >
  Welcome to The Scalable Way Blog — your source for insights, strategies, and best practices in data platform engineering, analytics, and data science.
---

<div class="wrapper">
  <header class="full | section page-header ">
    {% svg "divider/soft-top", null, "seperator" %}

    {% if image %}
    {% image image, alt or title, null, "eager" %}
    {% endif %}

    <div class="section__inner region region-space-xl-2xl">
      <div class="wrapper flow text-center">
      <h1 class="text-base-light">{{ title }}</h1>
      {{ intro | markdownFormat | safe }}
     </div>
    </div>
  </header>


<section class="feature mt-2xl" aria-describedby="blog-section">
  <h2 id="blog-section" class="visually-hidden">Blog posts</h2>

  <custom-masonry layout="50-50">
		{% asyncEach item in pagination.items %}
			{% set definedDate = item.date %}

			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>
</section>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>


{%- css "inline" -%}
  {%- include "css/page-header.css" -%}
{%- endcss -%}
