.custom-hero {
  --custom-hero-bg: var(--color-blue-800);
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  background: var(--custom-hero-bg);
}

.custom-hero > * {
  grid-column: full;
  grid-column-start: 1;
  grid-row-start: 1;
}

.custom-hero .wrapper > * {
  grid-column: content-start / feature-end;
  z-index: 1;
}

.custom-hero > .seperator {
  align-self: end;
  z-index: 1;
}

/* -------------------- content --------------------  */
.custom-hero__content {
  display: grid;
  place-content: center;
}

.custom-hero__content h1 {
  font-weight: var(--font-regular);
  text-wrap: pretty;
  line-height: var(--leading-flat);
}

.custom-hero__content em {
  color: color-mix(in oklab, var(--color-blue) 50%, var(--color-light));
  font-style: normal;
}

.custom-hero .wrapper > :is(p, h1) {
  color: var(--color-light);
}

/* -------------------- media --------------------  */

.custom-hero :is(picture, .custom-hero__video-container) {
  --flow-space: 0;
  background: var(--custom-hero-bg);
  mix-blend-mode: darken;
  overflow: hidden;
}

:root[data-theme='dark'] .custom-hero :is(picture, .custom-hero__video-container) {
  mix-blend-mode: lighten;
}

.custom-hero :is(img, .custom-hero__video) {
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 2;
  mix-blend-mode: multiply;
}

@media screen(md) {
  .custom-hero :is(img, .custom-hero__video) {
    aspect-ratio: 3 / 2;
  }
}

[data-theme='light'] :is(img, .custom-hero__video) {
  filter: grayscale(100%) brightness(0.7) opacity(0.3) contrast(200%);
}

[data-theme='dark'] :is(img, .custom-hero__video) {
  filter: grayscale(100%) brightness(0.7) opacity(0.5) contrast(200%);
}

@media (prefers-reduced-motion: reduce) {
  .custom-hero[data-hero-media='video'] .custom-hero__video {
    display: none;
  }
}

.home .custom-hero :is(img, .custom-hero__video) {
  filter: grayscale(100%) brightness(1) opacity(0.6) contrast(150%);
  object-position: top right;
}

/* -------------------- themes --------------------  */
.custom-hero[data-hero-background='purple-dark'] {
  --custom-hero-bg: var(--color-purple-800);
  --color-text: var(--color-purple-100);
}

.custom-hero[data-hero-background='navy-dark'] {
  --custom-hero-bg: var(--color-navy-dark);
}

.custom-hero[data-hero-background='bg-accent'] {
  --custom-hero-bg: var(--color-bg-accent);
}

/* -------------------- variants --------------------  */

/* content alignment */
.custom-hero[data-hero-content-inline='left'] .wrapper > * {
  justify-self: start;
  text-align: start;
}

.custom-hero[data-hero-content-inline='center'] .wrapper > * {
  justify-self: center;
  text-align: center;
}

.custom-hero[data-hero-content-inline='right'] .wrapper > * {
  justify-self: end;
  text-align: end;
}

.custom-hero[data-hero-content-block='top'] .custom-hero__content {
  align-content: start;
}

.custom-hero[data-hero-content-block='center'] .custom-hero__content {
  align-content: center;
}

.custom-hero[data-hero-content-block='bottom'] .custom-hero__content {
  align-content: end;
}

/* height */
.custom-hero[data-hero-height='default'] :is(picture, .custom-hero__video) {
  block-size: max(35rem, 50vh);
}

.custom-hero[data-hero-height='tall'] :is(picture, .custom-hero__video) {
  block-size: max(40rem, 65vh);
}

.custom-hero[data-hero-height='cover'] :is(picture, .custom-hero__video) {
  block-size: max(45rem, 95vh);
}

@media screen(md) {
  .custom-hero[data-hero-height='default'] :is(picture, .custom-hero__video) {
    max-block-size: 50vh;
  }

  .custom-hero[data-hero-height='tall'] :is(picture, .custom-hero__video) {
    max-block-size: 40rem;
  }

  .custom-hero[data-hero-height='cover'] :is(picture, .custom-hero__video) {
    max-block-size: 95vh;
  }
}
