.page-header {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
}

.page-header > * {
  grid-column: full;
  grid-column-start: 1;
  grid-row-start: 1;
}

/* .page-header > div {
  display: grid;

} */

.page-header :is(picture, .page-header__video-container) {
  --flow-space: 0;
  background: var(--color-blue-800);
  mix-blend-mode: darken;
  /* max-block-size: 25rem; */
  overflow: hidden;
}

.page-header :is(img, .page-header__video) {
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 2;
  filter: grayscale(100%) brightness(0.5) opacity(0.3) contrast(200%);
  mix-blend-mode: multiply;
}

.page-header__content {
  display: grid;
  place-content: center;
}

[data-theme='light'] .page-header img {
  filter: grayscale(100%) brightness(0.7) opacity(0.3) contrast(200%);
}

[data-theme='dark'] .page-header img {
  filter: grayscale(100%) brightness(0.7) opacity(0.5) contrast(200%);
}

.page-header.has-video picture {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .page-header.has-video .page-header__video {
    display: none;
  }

  .page-header.has-video picture {
    display: block;
  }
}

.page-header .wrapper > * {
  grid-column: content-start / feature-end;
  justify-self: center;
  z-index: 1;
}

.page-header :is(picture, .page-header__video) {
  block-size: max(35rem, 50vh);
}

@media screen(md) {
  .page-header :is(picture, .page-header__video) {
    max-block-size: 50vh;
  }
  .page-header :is(img, .page-header__video) {
    aspect-ratio: 3/2;
  }
}

.section.page-header > .seperator {
  align-self: end;
  z-index: 1;
}

.page-header .wrapper > :is(p, h1) {
  color: var(--color-light);
}
