---
layout: tags
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage
permalink: /tags/{{ tagPage.tag | slugify }}/
eleventyComputed:
  title: '{{ meta.blog.tagSingle }}: {{ tagPage.tag }}'
---

<custom-masonry layout="thirds" >
  {% set itemList = tagPage.posts %}
  {% for item in itemList %}

		{% include "partials/card-tag.njk" %}
  {% endfor %}
</custom-masonry>

<h2>{{ meta.blog.tagMore }}</h2>

<ul class="taglist | my-s-m cluster gutter-xs" role="list">
  {% for tag in collections.tagList %}
    <li>
      <a
        href="/tags/{{ tag | slugify }}/"
        class="button"
        {{
          helpers.getLinkActiveState('/tags/' + tag | slugify + '/',
          page.url)
          |
          safe
        }}
      >
        {{ tag }}
      </a>
    </li>
  {% endfor %}
</ul>
