---
layout: tags
permalink: /tags/index.html
eleventyComputed:
  title: '{{ meta.blog.tagPlural }}'
---

<div class="taglist | mt-s-m cluster gutter-3xs">
  {% for tag in collections.tagList %}
    <a href="/tags/{{ tag | slugify }}/" class="button" data-small-button data-ghost-button> <span>{{ tag }}</span> </a>
  {% endfor %}
</div>

