<is-land on:idle>
  <dialog class="flow">
    <button type="button" data-button-variant="teal" class="button" autofocus>Close</button>
    {% image image, alt or "", caption or "" %}
  </dialog>
  <button type="button" data-index="1">{% image image, alt or "", caption or "" %}</button>
</is-land>
